<a href="https://colab.research.google.com/github/cristiandarioortegayubro/BA/blob/main/pd_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![logo](https://github.com/cristiandarioortegayubro/BA/blob/main/dba.png?raw=true)


![pandas](https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/250px-Pandas_logo.svg.png)

[Graficos de Pandas](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.html?highlight=plot#pandas.DataFrame.plot)

## **Instalando módulos necesarios**

In [1]:
!pip install pandas_datareader --upgrade

Requirement already satisfied: pandas_datareader in /usr/local/lib/python3.7/dist-packages (0.10.0)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas_datareader) (1.3.5)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas_datareader) (2.23.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas_datareader) (4.2.6)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas_datareader) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas_datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas_datareader) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas_datareader) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas_datareader) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas_datareader) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas_datareader) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas_datareader) (2021.10.8)

## **Módulos necesarios**

### ***Para análisis de datos***

In [2]:
import pandas as pd
import numpy as np
import pandas_datareader as dtr

## **Obtención de datos**

In [3]:
datos = "https://raw.githubusercontent.com/cristiandarioortegayubro/BA/main/Datasets/Analisis_de_Facturas_de_Venta.csv"
df = pd.read_csv(datos)
df["FECHA"] = pd.to_datetime(df.FECHA, infer_datetime_format=True)
df.drop(columns=["DOCUMENTO","TIPOFACTURA","PRECIO", "CANTIDAD"], inplace=True)
df = df[df.MONEDA == "Pesos Argentinos"]
df

,ORGANIZACION,FECHA,PRODUCTO,IMPORTEMONTRANSACCION,MONEDA
0,Etigand S.A.,2019-12-27,Consultoria Web,289256.20,Pesos Argentinos
1,Javier Moroni,2019-12-21,Honorarios,99586.78,Pesos Argentinos
2,Amazon Group,2019-10-12,Parlantes para PC,59700.00,Pesos Argentinos
3,Amazon Group,2019-06-12,Mercaderia de Reventa,310740.00,Pesos Argentinos
4,Manganello S.R.L,2019-11-20,Consultoria Web,315000.00,Pesos Argentinos
...,...,...,...,...,...
154,Hernandez S.A.,2018-01-31,Dise–o Web,31500.00,Pesos Argentinos
155,Etigand S.A.,2018-01-25,Impresora Multifuncion,28429.75,Pesos Argentinos
156,Etigand S.A.,2018-01-25,Monitores,26446.28,Pesos Argentinos
157,Ferrari Hnos S.A.,2018-01-01,Impresora Multifuncion,35537.19,Pesos Argentinos
158,Ferrari Hnos S.A.,2018-01-01,Monitores,26446.28,Pesos Argentinos

## **Agrupación**

La agrupación es un proceso que posee algunos de los siguientes pasos:

- **Dividir** en grupos basados en algún criterio.
- **Aplicar** una función a cada grupo en forma independiente.
- **Combinar** los resultados en una estructura de datos, como el DataFrame.

In [4]:
clientes = df.groupby("ORGANIZACION").sum()
clientes

                            IMPORTEMONTRANSACCION
ORGANIZACION
Amazon Group                            795766.00
Berker S.R.L                            262700.00
Campomas S.A.                           648262.00
Donadelli S.R.L                         269210.00
Etigand S.A.                            652421.49
Ferrari Hnos S.A.                       320756.20
Galardon S.A.                           474697.00
Hernandez S.A.                          617565.00
Horacio Aguirre                           5000.00
Horizonte S.A.                          482835.00
Ignition S.A.C.I                        265290.00
Jameson SRL                             703613.99
Javier Moroni                           500097.87
Juan Fernández                          723497.00
Juan Lopez                               24173.55
Klarkson                                211945.00
Manganello S.R.L                       1241750.00
Nicolasen y Asociados S.A.              956825.00
Rodrigo Vidal                            21052.07
Valeria Welponer                        104837.19

In [5]:
dicc = df.groupby("ORGANIZACION").groups
dicc

{'Amazon Group': [2, 3, 9, 45, 64, 65, 66, 73, 74, 75, 87, 88, 92], 'Berker S.R.L': [22, 37, 38, 39, 94, 137, 153], 'Campomas S.A.': [15, 16, 20, 29, 35, 46, 95], 'Donadelli S.R.L': [53, 104, 112, 126, 129, 147], 'Etigand S.A.': [0, 50, 103, 111, 127, 140, 152, 155, 156], 'Ferrari Hnos S.A.': [17, 30, 136, 157, 158], 'Galardon S.A.': [5, 31, 100, 128, 138, 141, 146], 'Hernandez S.A.': [13, 24, 34, 47, 56, 60, 76, 78, 96, 106, 114, 124, 143, 154], 'Horacio Aguirre': [77], 'Horizonte S.A.': [8, 44, 52, 142, 151], 'Ignition S.A.C.I': [23, 79, 80, 86, 135, 149, 150], 'Jameson SRL': [18, 36, 59, 62, 70, 101, 148], 'Javier Moroni': [1, 21, 26, 40, 51, 55, 71, 105, 109, 113, 117, 119, 125, 130, 139, 145], 'Juan Fernández': [7, 11, 14], 'Juan Lopez': [32, 42], 'Klarkson': [6, 48, 58, 63, 93], 'Manganello S.R.L': [4, 10, 19, 25, 43, 54, 61, 68, 69, 85, 107, 115, 118, 121, 122, 123], 'Nicolasen y Asociados S.A.': [12, 27, 33, 41, 49, 57, 67, 72, 91, 102, 108, 110, 116, 120, 132, 133, 134, 144], 'Rodrigo Vidal': [82, 83, 84, 97, 98, 99], 'Valeria Welponer': [28, 89, 90]}

In [6]:
dicc.keys()

dict_keys(['Amazon Group', 'Berker S.R.L', 'Campomas S.A.', 'Donadelli S.R.L', 'Etigand S.A.', 'Ferrari Hnos S.A.', 'Galardon S.A.', 'Hernandez S.A.', 'Horacio Aguirre', 'Horizonte S.A.', 'Ignition S.A.C.I', 'Jameson SRL', 'Javier Moroni', 'Juan Fernández', 'Juan Lopez', 'Klarkson', 'Manganello S.R.L', 'Nicolasen y Asociados S.A.', 'Rodrigo Vidal', 'Valeria Welponer'])

In [7]:
for name, group in df.groupby("ORGANIZACION"):
  print(name)
  print(group)

Amazon Group
    ORGANIZACION      FECHA                 PRODUCTO  IMPORTEMONTRANSACCION  \
2   Amazon Group 2019-10-12        Parlantes para PC                59700.0
3   Amazon Group 2019-06-12    Mercaderia de Reventa               310740.0
9   Amazon Group 2019-09-30  Servicios Profesionales                 6700.0
45  Amazon Group 2019-03-21  Servicios Profesionales                30000.0
64  Amazon Group 2018-12-23               Dise–o Web                65800.0
65  Amazon Group 2018-12-23   Publicidad y Marketing                31500.0
66  Amazon Group 2018-12-23          Insumos oficina                 3500.0
73  Amazon Group 2018-08-11   Publicidad y Marketing               160100.0
74  Amazon Group 2018-08-11          Consultoria Web                 6300.0
75  Amazon Group 2018-08-11             Modem Router                 5676.0
87  Amazon Group 2018-05-10               Honorarios                50550.0
88  Amazon Group 2018-05-10   Publicidad y Marketing                22200.0
92  Amazon Group 2018-09-25          Consultoria Web                43000.0

              MONEDA
2   Pesos Argentinos
3   Pesos Argentinos
9   Pesos Argentinos
45  Pesos Argentinos
64  Pesos Argentinos
65  Pesos Argentinos
66  Pesos Argentinos
73  Pesos Argentinos
74  Pesos Argentinos
75  Pesos Argentinos
87  Pesos Argentinos
88  Pesos Argentinos
92  Pesos Argentinos
Berker S.R.L
     ORGANIZACION      FECHA                PRODUCTO  IMPORTEMONTRANSACCION  \
22   Berker S.R.L 2019-06-28         Insumos oficina                35000.0
37   Berker S.R.L 2019-04-18   Mercaderia de Reventa                81000.0
38   Berker S.R.L 2019-04-18         Insumos oficina                15000.0
39   Berker S.R.L 2019-04-18                 Teclado                11200.0
94   Berker S.R.L 2018-10-09  Publicidad y Marketing                74000.0
137  Berker S.R.L 2018-01-05         Consultoria Web                15000.0
153  Berker S.R.L 2018-02-02              Dise–o Web                31500.0

               MONEDA
22   Pesos Argentinos
37   Pesos Argentinos
38   Pesos Argentinos
39   Pesos Argentinos
94   Pesos Argentinos
137  Pesos Argentinos
153  Pesos Argentinos
Campomas S.A.
     ORGANIZACION      FECHA  \
15  Campomas S.A. 2019-08-13
16  Campomas S.A. 2019-08-13
20  Campomas S.A. 2019-09-07
29  Campomas S.A. 2019-05-20
35  Campomas S.A. 2019-04-27
46  Campomas S.A. 2019-03-16
95  Campomas S.A. 2018-09-09

                                             PRODUCTO  IMPORTEMONTRANSACCION  \
15  Televisor Led Samsung 32  Hd Con Soporte Y Con...                40522.0
16                                    Consultoria Web                 6300.0
20                               Productos Terminados               117750.0
29  Televisor Led Samsung 32  Hd Con Soporte Y Con...               305890.0
35                                    Consultoria Web                40000.0
46                                    Consultoria Web               117800.0
95                                    Consultoria Web                20000.0

              MONEDA
15  Pesos Argentinos
16  Pesos Argentinos
20  Pesos Argentinos
29  Pesos Argentinos
35  Pesos Argentinos
46  Pesos Argentinos
95  Pesos Argentinos
Donadelli S.R.L
        ORGANIZACION      FECHA                PRODUCTO  \
53   Donadelli S.R.L 2019-02-27              Dise–o Web
104  Donadelli S.R.L 2018-08-26  Publicidad y Marketing
112  Donadelli S.R.L 2018-07-14  Publicidad y Marketing
126  Donadelli S.R.L 2018-06-26         Consultoria Web
129  Donadelli S.R.L 2018-08-06         Consultoria Web
147  Donadelli S.R.L 2018-01-03  Publicidad y Marketing

     IMPORTEMONTRANSACCION            MONEDA
53                 73210.0  Pesos Argentinos
104                26000.0  Pesos Argentinos
112                75000.0  Pesos Argentinos
126                15000.0  Pesos Argentinos
129                15000.0  Pesos Argentinos
147                65000.0  Pesos Argentinos
Etigand S.A.
     ORGANIZACION      FECHA                 PRODUCTO  IMPORTEMONTRANSACCION  \
0    Etigand S.A. 2019-12-27          Consultoria Web              289256.20
50   Etigand S.A. 2019-08-03   Publicidad y Marketing               95871.90
103  Etigand S.A. 2018-08-29          Consultoria Web               73140.50
111  Etigand S.A. 2018-07-20          Consultoria Web               24380.17
127  Etigand S.A. 2018-06-25               Dise–o Web               12396.69
140  Etigand S.A. 2018-04-29          Consultoria Web              100000.00
152  Etigand S.A. 2018-10-02      Consultoria Digital                2500.00
155  Etigand S.A. 2018-01-25  Impresora Multifuncion                28429.75
156  Etigand S.A. 2018-01-25                Monitores               26446.28

               MONEDA
0    Pesos Argentinos
50   Pesos Argentinos
103  Pesos Argentinos
111  Pesos Argentinos
127  Pesos Argentinos
140  Pesos Argentinos
152  Pesos Argentinos
155  Pesos Argentinos
156  Pesos Argentinos
Ferrari Hnos S.A.
          ORGANIZACION      FECHA                 PRODUCTO  \
17   Ferrari Hnos S.A. 2019-07-08     Productos Terminados
30   Ferrari Hnos S.A. 2019-05-13                    Mouse
136  Ferrari Hnos S.A. 2018-04-05   Publicidad y Marketing
157  Ferrari Hnos S.A. 2018-01-01  Impresora Multifuncion
158  Ferrari Hnos S.A. 2018-01-01                Monitores

     IMPORTEMONTRANSACCION            MONEDA
17               206611.57  Pesos Argentinos
30                31500.00  Pesos Argentinos
136               20661.16  Pesos Argentinos
157               35537.19  Pesos Argentinos
158               26446.28  Pesos Argentinos
Galardon S.A.
      ORGANIZACION      FECHA                 PRODUCTO  IMPORTEMONTRANSACCION  \
5    Galardon S.A. 2019-11-17  Impresora Multifuncion                234807.0
31   Galardon S.A. 2019-10-05  Servicios Profesionales                73800.0
100  Galardon S.A. 2018-01-09          Consultoria Web                 5890.0
128  Galardon S.A. 2018-06-19                       PC                60000.0
138  Galardon S.A. 2018-04-30  Impresora Multifuncion                 16200.0
141  Galardon S.A. 2018-04-17          Consultoria Web                19000.0
146  Galardon S.A. 2018-08-03               Honorarios                65000.0

               MONEDA
5    Pesos Argentinos
31   Pesos Argentinos
100  Pesos Argentinos
128  Pesos Argentinos
138  Pesos Argentinos
141  Pesos Argentinos
146  Pesos Argentinos
Hernandez S.A.
       ORGANIZACION      FECHA                 PRODUCTO  \
13   Hernandez S.A. 2019-02-09   Publicidad y Marketing
24   Hernandez S.A. 2019-06-18              Monitor LED
34   Hernandez S.A. 2019-04-28     Productos Terminados
47   Hernandez S.A. 2019-03-14    Mercaderia de Reventa
56   Hernandez S.A. 2019-02-14          Insumos oficina
60   Hernandez S.A. 2019-01-21              Monitor LED
76   Hernandez S.A. 2018-05-11               Honorarios
78   Hernandez S.A. 2018-10-31               Honorarios
96   Hernandez S.A. 2018-06-09  Materia Prima Importada
106  Hernandez S.A. 2018-08-14          Consultoria Web
114  Hernandez S.A. 2018-08-07          Consultoria Web
124  Hernandez S.A. 2018-06-30          Consultoria Web
143  Hernandez S.A. 2018-02-04               Honorarios
154  Hernandez S.A. 2018-01-31               Dise–o Web

     IMPORTEMONTRANSACCION            MONEDA
13                105060.0  Pesos Argentinos
24                155750.0  Pesos Argentinos
34                 20850.0  Pesos Argentinos
47                 14100.0  Pesos Argentinos
56                  4510.0  Pesos Argentinos
60                 67995.0  Pesos Argentinos
76                 42300.0  Pesos Argentinos
78                  2500.0  Pesos Argentinos
96                 20000.0  Pesos Argentinos
106                42000.0  Pesos Argentinos
114                35000.0  Pesos Argentinos
124                18000.0  Pesos Argentinos
143                58000.0  Pesos Argentinos
154                31500.0  Pesos Argentinos
Horacio Aguirre
       ORGANIZACION      FECHA         PRODUCTO  IMPORTEMONTRANSACCION  \
77  Horacio Aguirre 2018-10-31  Consultoria Web                 5000.0

              MONEDA
77  Pesos Argentinos
Horizonte S.A.
       ORGANIZACION      FECHA         PRODUCTO  IMPORTEMONTRANSACCION  \
8    Horizonte S.A. 2019-02-10  Insumos oficina               233550.0
44   Horizonte S.A. 2019-03-27       Dise–o Web                60985.0
52   Horizonte S.A. 2019-02-28       Honorarios               150000.0
142  Horizonte S.A. 2018-10-04  Consultoria Web                12500.0
151  Horizonte S.A. 2018-02-15  Consultoria Web                25800.0

               MONEDA
8    Pesos Argentinos
44   Pesos Argentinos
52   Pesos Argentinos
142  Pesos Argentinos
151  Pesos Argentinos
Ignition S.A.C.I
         ORGANIZACION      FECHA                 PRODUCTO  \
23   Ignition S.A.C.I 2019-06-25                  Teclado
79   Ignition S.A.C.I 2018-10-25  Servicios Profesionales
80   Ignition S.A.C.I 2018-10-25          Consultoria Web
86   Ignition S.A.C.I 2018-11-10  Servicios Profesionales
135  Ignition S.A.C.I 2018-08-05               Dise–o Web
149  Ignition S.A.C.I 2018-02-21                       PC
150  Ignition S.A.C.I 2018-02-21          Consultoria Web

     IMPORTEMONTRANSACCION            MONEDA
23                 10000.0  Pesos Argentinos
79                 70000.0  Pesos Argentinos
80                  6300.0  Pesos Argentinos
86                 68500.0  Pesos Argentinos
135                18000.0  Pesos Argentinos
149                89990.0  Pesos Argentinos
150                 2500.0  Pesos Argentinos
Jameson SRL
    ORGANIZACION      FECHA  \
18   Jameson SRL 2019-07-17
36   Jameson SRL 2019-04-22
59   Jameson SRL 2019-01-23
62   Jameson SRL 2019-11-01
70   Jameson SRL 2018-04-12
101  Jameson SRL 2018-08-31
148  Jameson SRL 2018-02-28

                                              PRODUCTO  IMPORTEMONTRANSACCION  \
18   Televisor Led Samsung 32  Hd Con Soporte Y Con...              330000.00
36                                     Insumos oficina               23000.00
59                               Mercaderia de Reventa              139940.00
62                                  Intereses por Mora                 693.99
70                                          Honorarios              165980.00
101                                 Intereses por Mora               28500.00
148                                         Dise–o Web               15500.00

               MONEDA
18   Pesos Argentinos
36   Pesos Argentinos
59   Pesos Argentinos
62   Pesos Argentinos
70   Pesos Argentinos
101  Pesos Argentinos
148  Pesos Argentinos
Javier Moroni
      ORGANIZACION      FECHA                 PRODUCTO  IMPORTEMONTRANSACCION  \
1    Javier Moroni 2019-12-21               Honorarios               99586.78
21   Javier Moroni 2019-01-07          Consultoria Web                6300.00
26   Javier Moroni 2019-11-06  Servicios Profesionales               60633.48
40   Javier Moroni 2019-04-15  Servicios Profesionales               63800.91
51   Javier Moroni 2019-08-03                  Teclado               26880.00
55   Javier Moroni 2019-02-23     Cable RGB para video               17392.56
71   Javier Moroni 2018-11-20     Cable RGB para video                2148.76
105  Javier Moroni 2018-08-21               Honorarios               20661.16
109  Javier Moroni 2018-01-08   Publicidad y Marketing               37190.08
113  Javier Moroni 2018-12-07               Honorarios               31404.96
117  Javier Moroni 2018-01-07   Publicidad y Marketing               23140.50
119  Javier Moroni 2018-06-30                       PC               26446.28
125  Javier Moroni 2018-06-28        Parlantes para PC                6000.00
130  Javier Moroni 2018-01-06               Dise–o Web               13223.14
139  Javier Moroni 2018-04-30   Publicidad y Marketing               11570.25
145  Javier Moroni 2018-03-14   Publicidad y Marketing               53719.01

               MONEDA
1    Pesos Argentinos
21   Pesos Argentinos
26   Pesos Argentinos
40   Pesos Argentinos
51   Pesos Argentinos
55   Pesos Argentinos
71   Pesos Argentinos
105  Pesos Argentinos
109  Pesos Argentinos
113  Pesos Argentinos
117  Pesos Argentinos
119  Pesos Argentinos
125  Pesos Argentinos
130  Pesos Argentinos
139  Pesos Argentinos
145  Pesos Argentinos
Juan Fernández
      ORGANIZACION      FECHA  \
7   Juan Fernández 2019-10-15
11  Juan Fernández 2019-09-15
14  Juan Fernández 2019-08-20

                                             PRODUCTO  IMPORTEMONTRANSACCION  \
7                               Mercaderia de Reventa               370620.0
11                               Productos Terminados                88885.0
14  Televisor Led Samsung 32  Hd Con Soporte Y Con...               263992.0

              MONEDA
7   Pesos Argentinos
11  Pesos Argentinos
14  Pesos Argentinos
Juan Lopez
   ORGANIZACION      FECHA                PRODUCTO  IMPORTEMONTRANSACCION  \
32   Juan Lopez 2019-10-05  Publicidad y Marketing               16652.89
42   Juan Lopez 2019-08-04         Insumos oficina                7520.66

              MONEDA
32  Pesos Argentinos
42  Pesos Argentinos
Klarkson
   ORGANIZACION      FECHA                 PRODUCTO  IMPORTEMONTRANSACCION  \
6      Klarkson 2019-02-11     Cable RGB para video                61830.0
48     Klarkson 2019-11-03          Insumos oficina                37240.0
58     Klarkson 2019-08-02        Parlantes para PC                 8425.0
63     Klarkson 2019-03-01               Dise–o Web                14950.0
93     Klarkson 2018-09-21  Servicios Profesionales                89500.0

              MONEDA
6   Pesos Argentinos
48  Pesos Argentinos
58  Pesos Argentinos
63  Pesos Argentinos
93  Pesos Argentinos
Manganello S.R.L
         ORGANIZACION      FECHA  \
4    Manganello S.R.L 2019-11-20
10   Manganello S.R.L 2019-09-22
19   Manganello S.R.L 2019-07-14
25   Manganello S.R.L 2019-06-16
43   Manganello S.R.L 2019-03-04
54   Manganello S.R.L 2019-02-24
61   Manganello S.R.L 2019-01-14
68   Manganello S.R.L 2018-12-14
69   Manganello S.R.L 2018-12-14
85   Manganello S.R.L 2018-10-15
107  Manganello S.R.L 2018-08-08
115  Manganello S.R.L 2018-05-07
118  Manganello S.R.L 2018-06-30
121  Manganello S.R.L 2018-06-30
122  Manganello S.R.L 2018-06-30
123  Manganello S.R.L 2018-06-30

                                              PRODUCTO  IMPORTEMONTRANSACCION  \
4                                      Consultoria Web               315000.0
10   Televisor Led Samsung 32  Hd Con Soporte Y Con...               243600.0
19                                         Monitor LED                94560.0
25                                     Consultoria Web                80100.0
43                                          Honorarios                55000.0
54                             Servicios Profesionales               105500.0
61                             Servicios Profesionales                50000.0
68                              Publicidad y Marketing                56250.0
69                                   Parlantes para PC                 3000.0
85   Televisor Led Samsung 32  Hd Con Soporte Y Con...               111740.0
107                            Impresora Multifuncion                 12500.0
115                            Impresora Multifuncion                 12000.0
118                             Publicidad y Marketing                35000.0
121                                    Consultoria Web                25000.0
122                                         Honorarios                24000.0
123                             Publicidad y Marketing                18500.0

               MONEDA
4    Pesos Argentinos
10   Pesos Argentinos
19   Pesos Argentinos
25   Pesos Argentinos
43   Pesos Argentinos
54   Pesos Argentinos
61   Pesos Argentinos
68   Pesos Argentinos
69   Pesos Argentinos
85   Pesos Argentinos
107  Pesos Argentinos
115  Pesos Argentinos
118  Pesos Argentinos
121  Pesos Argentinos
122  Pesos Argentinos
123  Pesos Argentinos
Nicolasen y Asociados S.A.
                   ORGANIZACION      FECHA                 PRODUCTO  \
12   Nicolasen y Asociados S.A. 2019-10-09  Servicios Profesionales
27   Nicolasen y Asociados S.A. 2019-07-06        Parlantes para PC
33   Nicolasen y Asociados S.A. 2019-05-05          Consultoria Web
41   Nicolasen y Asociados S.A. 2019-12-04    Mercaderia de Reventa
49   Nicolasen y Asociados S.A. 2019-09-03   Publicidad y Marketing
57   Nicolasen y Asociados S.A. 2019-08-02    Mercaderia de Reventa
67   Nicolasen y Asociados S.A. 2018-12-18  Servicios Profesionales
72   Nicolasen y Asociados S.A. 2018-11-16               Mercadería
91   Nicolasen y Asociados S.A. 2018-01-10          Consultoria Web
102  Nicolasen y Asociados S.A. 2018-08-30   Publicidad y Marketing
108  Nicolasen y Asociados S.A. 2018-04-08                       PC
110  Nicolasen y Asociados S.A. 2018-07-28   Publicidad y Marketing
116  Nicolasen y Asociados S.A. 2018-03-07                       PC
120  Nicolasen y Asociados S.A. 2018-06-30  Impresora Multifuncion
132  Nicolasen y Asociados S.A. 2018-12-05                Monitores
133  Nicolasen y Asociados S.A. 2018-12-05   Publicidad y Marketing
134  Nicolasen y Asociados S.A. 2018-12-05          Consultoria Web
144  Nicolasen y Asociados S.A. 2018-03-31      Consultoria Digital

     IMPORTEMONTRANSACCION            MONEDA
12                 98900.0  Pesos Argentinos
27                 33750.0  Pesos Argentinos
33                 63000.0  Pesos Argentinos
41                 51475.0  Pesos Argentinos
49                  7400.0  Pesos Argentinos
57                 54000.0  Pesos Argentinos
67                 30500.0  Pesos Argentinos
72                164700.0  Pesos Argentinos
91                  6300.0  Pesos Argentinos
102                24600.0  Pesos Argentinos
108                59500.0  Pesos Argentinos
110                45000.0  Pesos Argentinos
116                85000.0  Pesos Argentinos
120                25200.0  Pesos Argentinos
132               160000.0  Pesos Argentinos
133                17500.0  Pesos Argentinos
134                15000.0  Pesos Argentinos
144                15000.0  Pesos Argentinos
Rodrigo Vidal
     ORGANIZACION      FECHA                 PRODUCTO  IMPORTEMONTRANSACCION  \
82  Rodrigo Vidal 2018-10-18             Monitor OLED               11107.44
83  Rodrigo Vidal 2018-10-18     Cable RGB para video                2066.12
84  Rodrigo Vidal 2018-10-18        Parlantes para PC                2000.00
97  Rodrigo Vidal 2018-06-09  Impresora Multifuncion                 4300.00
98  Rodrigo Vidal 2018-06-09        Parlantes para PC                1000.00
99  Rodrigo Vidal 2018-06-09             Modem Router                 578.51

              MONEDA
82  Pesos Argentinos
83  Pesos Argentinos
84  Pesos Argentinos
97  Pesos Argentinos
98  Pesos Argentinos
99  Pesos Argentinos
Valeria Welponer
        ORGANIZACION      FECHA                 PRODUCTO  \
28  Valeria Welponer 2019-03-06              Monitor LED
89  Valeria Welponer 2018-03-10  Impresora Multifuncion
90  Valeria Welponer 2018-03-10          Insumos oficina

    IMPORTEMONTRANSACCION            MONEDA
28              100413.22  Pesos Argentinos
89                4300.00  Pesos Argentinos
90                 123.97  Pesos Argentinos

## **Obtención de datos financieros**

In [8]:
btc_enero = dtr.DataReader("BTC-USD", data_source="yahoo", start="2021-01-01", end="2021-01-31")
btc_enero.drop(columns=["Volume","Adj Close"], inplace=True)
btc_enero.reset_index(inplace=True)
btc_enero.head()

        Date          High           Low          Open         Close
0 2021-01-01  29600.626953  28803.585938  28994.009766  29374.152344
1 2021-01-02  33155.117188  29091.181641  29376.455078  32127.267578
2 2021-01-03  34608.558594  32052.316406  32129.408203  32782.023438
3 2021-01-04  33440.218750  28722.755859  32810.949219  31971.914062
4 2021-01-05  34437.589844  30221.187500  31977.041016  33992.429688

In [9]:
btc_enero.shape

(32, 5)

In [10]:
btc_febrero = dtr.DataReader("BTC-USD", data_source="yahoo", start="2021-02-01", end="2021-02-28")
btc_febrero.drop(columns=["Volume","Adj Close"], inplace=True)
btc_febrero.reset_index(inplace=True)
btc_febrero.head()

        Date          High           Low          Open         Close
0 2021-02-01  34638.214844  32384.228516  33114.578125  33537.175781
1 2021-02-02  35896.882812  33489.218750  33533.199219  35510.289062
2 2021-02-03  37480.187500  35443.984375  35510.820312  37472.089844
3 2021-02-04  38592.175781  36317.500000  37475.105469  36926.066406
4 2021-02-05  38225.906250  36658.761719  36931.546875  38144.308594

In [11]:
btc_febrero.shape

(29, 5)

In [12]:
btc_marzo = dtr.DataReader("BTC-USD", data_source="yahoo", start="2021-03-01", end="2021-03-31")
btc_marzo.drop(columns=["Volume","Adj Close"], inplace=True)
btc_marzo.reset_index(inplace=True)
btc_marzo.head()

        Date          High           Low          Open         Close
0 2021-03-01  49784.015625  45115.093750  45159.503906  49631.242188
1 2021-03-02  50127.511719  47228.843750  49612.105469  48378.988281
2 2021-03-03  52535.136719  48274.320312  48415.816406  50538.242188
3 2021-03-04  51735.089844  47656.929688  50522.304688  48561.167969
4 2021-03-05  49396.429688  46542.515625  48527.031250  48927.304688

In [13]:
btc_marzo.shape

(32, 5)

## **Concatenación**

In [14]:
btc = [btc_enero, btc_febrero, btc_marzo]

In [15]:
bitcoin = pd.concat(btc)

In [16]:
bitcoin

         Date          High           Low          Open         Close
0  2021-01-01  29600.626953  28803.585938  28994.009766  29374.152344
1  2021-01-02  33155.117188  29091.181641  29376.455078  32127.267578
2  2021-01-03  34608.558594  32052.316406  32129.408203  32782.023438
3  2021-01-04  33440.218750  28722.755859  32810.949219  31971.914062
4  2021-01-05  34437.589844  30221.187500  31977.041016  33992.429688
..        ...           ...           ...           ...           ...
27 2021-03-28  56610.312500  55071.113281  55974.941406  55950.746094
28 2021-03-29  58342.097656  55139.339844  55947.898438  57750.199219
29 2021-03-30  59447.222656  57251.550781  57750.132812  58917.691406
30 2021-03-31  59930.027344  57726.417969  58930.277344  58918.832031
31 2021-04-01  59586.070312  58505.277344  58926.562500  59095.808594

[93 rows x 5 columns]

##**Duplicados**

In [17]:
btc_enero.tail()

         Date          High           Low          Open         Close
27 2021-01-28  33858.312500  30023.207031  30441.041016  33466.097656
28 2021-01-29  38406.261719  32064.814453  34318.671875  34316.386719
29 2021-01-30  34834.707031  32940.187500  34295.933594  34269.523438
30 2021-01-31  34288.332031  32270.175781  34270.878906  33114.359375
31 2021-02-01  34638.214844  32384.228516  33114.578125  33537.175781

In [18]:
btc_febrero.head()

        Date          High           Low          Open         Close
0 2021-02-01  34638.214844  32384.228516  33114.578125  33537.175781
1 2021-02-02  35896.882812  33489.218750  33533.199219  35510.289062
2 2021-02-03  37480.187500  35443.984375  35510.820312  37472.089844
3 2021-02-04  38592.175781  36317.500000  37475.105469  36926.066406
4 2021-02-05  38225.906250  36658.761719  36931.546875  38144.308594

In [19]:
btc_febrero.tail()

         Date          High           Low          Open         Close
24 2021-02-25  51948.968750  47093.851562  49709.082031  47093.851562
25 2021-02-26  48370.785156  44454.843750  47180.464844  46339.761719
26 2021-02-27  48253.269531  45269.027344  46344.773438  46188.453125
27 2021-02-28  46716.429688  43241.617188  46194.015625  45137.769531
28 2021-03-01  49784.015625  45115.093750  45159.503906  49631.242188

In [20]:
btc_marzo.head()

        Date          High           Low          Open         Close
0 2021-03-01  49784.015625  45115.093750  45159.503906  49631.242188
1 2021-03-02  50127.511719  47228.843750  49612.105469  48378.988281
2 2021-03-03  52535.136719  48274.320312  48415.816406  50538.242188
3 2021-03-04  51735.089844  47656.929688  50522.304688  48561.167969
4 2021-03-05  49396.429688  46542.515625  48527.031250  48927.304688

In [21]:
bitcoin.drop_duplicates()

         Date          High           Low          Open         Close
0  2021-01-01  29600.626953  28803.585938  28994.009766  29374.152344
1  2021-01-02  33155.117188  29091.181641  29376.455078  32127.267578
2  2021-01-03  34608.558594  32052.316406  32129.408203  32782.023438
3  2021-01-04  33440.218750  28722.755859  32810.949219  31971.914062
4  2021-01-05  34437.589844  30221.187500  31977.041016  33992.429688
..        ...           ...           ...           ...           ...
27 2021-03-28  56610.312500  55071.113281  55974.941406  55950.746094
28 2021-03-29  58342.097656  55139.339844  55947.898438  57750.199219
29 2021-03-30  59447.222656  57251.550781  57750.132812  58917.691406
30 2021-03-31  59930.027344  57726.417969  58930.277344  58918.832031
31 2021-04-01  59586.070312  58505.277344  58926.562500  59095.808594

[91 rows x 5 columns]